table{
    background-color:rgb(205, 174, 144);
    text-align: center;
    width: 450px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;    
    border-radius: 25px;
    border: 5px solid rgb(143, 87, 82);
    padding:10px;
    margin-bottom:50px;
    margin-top:40px;
}

input[type=number]{
    border: none;
   border-radius: 12px;
   background-color:rgb(248, 248, 234);
   text-align:center;
   font-size:20px;
   height: 50px;
   width:195px;
}
button{
    font-family:'Monaco';
    color:rgb(143, 87, 82);
    border: none;
   border-radius: 12px;
   background-color:rgb(248, 248, 234);
   font-size: 30px;
   height: 50px;
   width:200px;
}
label{
    font-family:'Monaco';
    color:rgb(143, 87, 82);
    font-size:30px;
}